language: python
sudo: required
dist: trusty
python:
- '2.7'
virtualenv:
  system_site_packages: true
services:
- postgresql
env:
  global:
  - TKP_DBNAME=testdb
  - TKP_DBENGINE=postgresql
  - TKP_DBUSER=postgres
  - TKP_DBPASS=postgres
  - TKP_TESTPATH=${TRAVIS_BUILD_DIR}/tests/data
notifications:
  hipchat:
    rooms:
      secure: ZhAQEKkc9bwt4O9TyL4Bdpic/5mme1A9QnFt38BlotvCPkIp19EhH/Qh7M76eCPrAIOngfO7GhnFj7SgjOQ7u5XxohC3Fak9MaUhBeew0GDYEcTq+7WDVQ3FVjyOcWOJMi5nBCKVK/SqOIdmCfBS+waBog7be2VQXcfcej8g2+E=
before_install:

  - sudo apt-get install -y software-properties-common
  - sudo add-apt-repository "deb http://us-central1.gce.clouds.archive.ubuntu.com/ubuntu $(lsb_release -sc) main universe restricted multiverse"
  - sudo add-apt-repository -y ppa:radio-astro/main
  - sudo apt-get update -q
  - sudo apt-get install -qy casacore-data libcasacore2-dev python-numpy python-scipy libboost-python-dev libcfitsio3-dev wcslib-dev postgresql-server-dev-all
  - psql -c "ALTER ROLE postgres WITH PASSWORD 'postgres';" -U postgres
  - psql -c "create database testdb;" -U postgres
  - git submodule init
  - git submodule update
install:
  - cd ${TRAVIS_BUILD_DIR}
  - pip install --upgrade pip
  - pip install --upgrade numpy
  - pip install .
  - pip install nose
  - pip freeze
script:
  - cd /tmp
  - "${TRAVIS_BUILD_DIR}/tkp/bin/trap-manage.py initproject pipeline"
  - cd pipeline
  - "${TRAVIS_BUILD_DIR}/tkp/bin/trap-manage.py initdb -y"
  - cd ${TRAVIS_BUILD_DIR}/tests
  - TKP_DBUSER=postgres TKP_DBPASSWORD= nosetests -sv
deploy:
  provider: pypi
  user: gijzelaerr
  password:
    secure: ROczqGNFuAczn6xu/X8BsHbBYkRLMvZwanOiC4X5iyzAe7fxwNiFdmHVSHru4bF7jCwasJmaTwubj23wFUsDm3xF2Bqu+N768no/b13pr6+AP2Q2GOHV6Y+4I5ti92ZLc3bemZkNiKAi/yva+F0Xb+BWRwLmyQcMl4tKDMn67Lo=
  on:
    tags: true
    repo: transientskp/tkp

