[DEFAULT]
runtime_directory = %(cwd)s
job_directory = %(runtime_directory)s/%(job_name)s

[logging]
#log_dir contains output log, plus a copy of the config files used.
log_dir = %(job_directory)s/logs/%(start_time)s
debug = False
colorlog = True

[database]
engine = ;(monetdb or postgresql)
database = "" ; e.g. '{% user_name %}'
user =  "" ; e.g. '{% user_name %}', or 'postgres'
password = "" ; e.g. '{% user_name %}'
host = "localhost"
port =
passphrase =
dump_backup_copy = False

[image_cache]
copy_images = True
mongo_host = "localhost"
mongo_port = 27017
mongo_db = "tkp"


[parallelise]
method = "multiproc"  ; or serial
cores = 0  ; the number of cores to use. Set to 0 for autodetect