[DEFAULT]
runtime_directory = %(cwd)s
job_directory = %(runtime_directory)s/%(job_name)s

[logging]
#log_dir contains output log, plus a copy of the config files used.
log_dir = %(job_directory)s/logs/%(start_time)s
debug = False
colorlog = True

[database]
engine = 'postgresql'           #
database = ''                   # for example: '{% user_name %}'
user =  ''                      # for example: '{% user_name %}'
password = ''                   # for example: '{% user_name %}'
host =  ''                      # for example: 'localhost'
port = 5432
dump_backup_copy = False        # make database backup for every run?

[image_cache]
copy_images = False

[parallelise]
method = "multiproc"            # or serial
cores = 0                       # number of cores to use. 0 for auto detect